<table
  *ngIf="productIngredients.length !== 0; else noIngredientsBlock"
  class="table table-sm table-bordered text-center table-vertical-center"
>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let ingredient of productIngredients">
      <td>{{ ingredient.title }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Actions with order">
          <button
            [disabled]="true"
            type="button"
            class="btn btn-primary btn-sm"
          >
            <fa-icon [icon]="['fas', 'edit']"></fa-icon>
          </button>

          <button
            (click)="removeProductIngredient(ingredient)"
            type="button"
            class="btn btn-danger btn-sm"
          >
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noIngredientsBlock>
  <p>There are no ingredients...</p>
</ng-template>
