<form (ngSubmit)="handleFormSubmit()" [formGroup]="mainFormGroup">

  <div class="form-group">
    <label for="title">Title</label>
    <input
      formControlName="title"
      type="text" class="form-control" id="title" placeholder="Enter the title"
    >

    <ng-container *ngIf="formTitle.touched">
      <div class="alert alert-danger mt-2" *ngIf="formTitle.hasError('required')">
          The title is required
      </div>

      <div class="alert alert-danger mt-2" *ngIf="formTitle.hasError('maxlength')">
          You've entered title of length {{formTitle.value.length}} signs.
          But max length is {{formTitle.errors.maxlength.requiredLength}} signs
      </div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input
      formControlName="description"
      type="text" class="form-control" id="description" placeholder="Enter the description"
    >

    <ng-container *ngIf="formDescription.touched">
      <div class="alert alert-danger mt-2" *ngIf="formDescription.hasError('required')">
          The description is required
      </div>

      <div class="alert alert-danger mt-2" *ngIf="formDescription.hasError('maxlength')">
          You've entered description of length {{formTitle.value.length}} signs.
          But max length is {{formTitle.errors.maxlength.requiredLength}} signs
      </div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="weight">Weight</label>
    <input
      formControlName="weight"
      type="number" class="form-control" id="weight" placeholder="Enter the weight"
    >

    <ng-container *ngIf="formWeight.touched">
      <div class="alert alert-danger mt-2" *ngIf="formWeight.hasError('required')">
          The weight is required
      </div>

      <div class="alert alert-danger mt-2" *ngIf="formWeight.hasError('min')">
          Minimum weight is {{formWeight.errors.min.min}}
      </div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input
      formControlName="price"
      type="number" class="form-control" id="price" placeholder="Enter the price"
    >

    <ng-container *ngIf="formPrice.touched">
      <div class="alert alert-danger mt-2" *ngIf="formPrice.hasError('required')">
          The price is required
      </div>

      <div class="alert alert-danger mt-2" *ngIf="formPrice.hasError('min')">
          Minimum price is ${{formPrice.errors.min.min}}
      </div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="category">Category</label>

    <select
      formControlName="category"
      [compareWith]="compareCategories"
      class="form-control" id="category"
    >
      <option value="" disabled>Select the category...</option>
      <option [ngValue]="item" *ngFor="let item of categoryList">{{item.title}}</option>
    </select>

    <ng-container *ngIf="formCategory.touched">
      <div class="alert alert-danger mt-2" *ngIf="formCategory.hasError('required')">
          The category is required
      </div>
    </ng-container>
  </div>

  <div class="mt-5 mb-5">
    <h4 class="mb-3">Ingredients</h4>

    <app-product-ingredients-crud
      [productIngredients]="productIngredients"
      [ingredientList]="ingredientList"
    ></app-product-ingredients-crud>
  </div>


  <button [disabled]="mainFormGroup.invalid" class="btn btn-primary">Submit</button>

</form>
