<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order time</th>
            <th scope="col">Delivery time</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let order of orders; index as i">

            <tr app-orders-table-row
              [order]="order"
              [statuses]="statuses"
              [number]="i"
            ></tr>

        </ng-container>
    </tbody>
</table>
