<div class="statuses__combobox">
  <select
    [(ngModel)]="selectedProduct" [ngModelOptions]="{standalone: true}"
    class="combobox form-control">

    <option
      *ngFor="let product of products"
      [ngValue]="product"
    >{{ product.title }}</option>
  </select>

  <button
    (click)="addPositionToOrder()"
    [disabled]="!selectedProduct"
    class="btn btn-primary mt-2 mb-4" type="button"
  >Add</button>


<div class="alert alert-warning mb-4" *ngIf="positionsFormArray.hasError('required')">
  <strong>Note:</strong> The order must have at least one position
</div>


<div class="products__list">
  <table
    *ngIf="positionsFormArray.controls.length > 0"
    class="table table-sm table-stripped text-center"
  >
    <thead>
      <tr>
        <th class="border-0 text-uppercase small font-weight-bold">Title</th>
        <th class="border-0 text-uppercase small font-weight-bold">Price</th>
        <th class="border-0 text-uppercase small font-weight-bold">Amount</th>
        <th class="border-0 text-uppercase small font-weight-bold">Total price</th>
        <th></th>
      </tr>
    </thead>

    <tbody
      app-order-positions-rows
      [positionsFormArray]="positionsFormArray"
    ></tbody>
  </table>
</div>


