.card {
  max-width: 18rem;
  width: 100%;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  margin-bottom: 2rem;
}

.hidden-link {
  text-decoration: none !important;
  color: inherit !important;
}
.orange-link, .orange-link:hover {
  color: #fc9e4e;
}

.btn-orange {
  background: #fc9e4e;
  letter-spacing: 0.45px;
}


.mt-6 {
  margin-top: 4.5rem;
}
.mb-6 {
  margin-bottom: 4.5rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

